<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="author" content="Kushal Samant">
   <meta name="description" content="Official Site / Your Mail Project">
   <meta name="keywords" content="Architecture, CSS, HTML, Javascript, People, Places, Visual Art, Web">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/assets/css/style.css">
   <title>Your Mail Project</title>
</head>
<body>
   <div class="grid-container">
      <header>
         <div class="grid-item">
            <h1><a href="https://kushalsamant.github.io/yourmailproject">Your Mail Project</a></h1>
            <p>
               <a href="https://kushalsamant.github.io/yourmailproject/here'showthisworks.html">About</a><br>
               <a href="https://kushalsamant.github.io/yourmailproject/here'sourbusinessmodel.html">Business</a><br>
               <a href="https://kushalsamant.github.io/yourmailproject/here'sourdearcommunity.html">Community</a><br>
            </p>
         </div>
      </header>
      <section>
         <div class="grid-item">
            {{ content }}
         </div>
      </section>
      <footer>
         <div class="grid-item">
            <p>
               <a href="https://www.buymeacoffee.com/yourmailproject" rel="noopener noreferrer" target="_blank"><img src="/assets/img/logobuymeacoffeenobackground.png" alt="Buy Me A Coffee" width="30"></a>
               <a href="https://www.instagram.com/yourmailproject" rel="noopener noreferrer" target="_blank"><img src="/assets/img/logoinstagram.png" alt="Instagram" width="30"></a>
               <a href="https://www.buymeacoffee.com/yourmailproject" rel="noopener noreferrer" target="_blank"><img src="/assets/img/logobuymeacoffeeyellowbackground.png" alt="Buy Me A Coffee" width="30"></a>
               <a href="https://yourmailproject.typeform.com/to/krhWpQJZ" rel="noopener noreferrer" target="_blank"><img src="/assets/img/logotypeform.png" alt="Typeform" width="30"></a>
            </p>
         </div>
      </footer>
   </div>
</body>
</html>