<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Kushal Samant">
  <meta name="description" content="Official Site / Your Mail Project">
  <meta name="keywords" content="Architecture, CSS, HTML, Javascript, People, Places, Visual Art, Web">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>Your Mail Project</title>
</head>
<body>
  <div class="grid-container">
    <header>
      <div class="grid-item">
        <h1><a href="https://kvshvlin.github.io/yourmailproject">Your Mail Project</a></h1>
        <p>
<a href="https://kvshvlin.github.io/yourmailproject/aftersales.html" target="_blank">After Sales</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/deadline.html" target="_blank">Deadline</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/fineprint.html" target="_blank">Fineprint</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/illustration.html" target="_blank">Illustration</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/illustrators.html" target="_blank">Illustrators</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/instagram.html" target="_blank">Instagram</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/marketing.html" target="_blank">Marketing</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/payout.html" target="_blank">Payout</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/production.html" target="_blank">Production</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/sales.html" target="_blank">Sales</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/signup.html" target="_blank">Sign Up</a><br>
<a href="https://kvshvlin.github.io/yourmailproject/subscribe.html" target="_blank">Subscribe</a><br>
        </p>
      </div>
    </header>
    <section>
      <div class="grid-item">
        {{ content }}
      </div>
    </section>
    <footer>
      <div class="grid-item">
      </div>
    </footer>
  </div>
</body>
</html>
