<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kushal Samant">
    <meta name="description" content="Official Site / Your Mail Project">
    <meta name="keywords" content="Architecture, CSS, HTML, Javascript, People, Places, Visual Art, Web">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Your Mail Project</title>
  </head>
  <body>
    <div class="grid-container">
    	<header>
        <div class="grid-item">
		<h1><a href="https://kvshvlin.github.io/yourmailproject">Your Mail Project</a></h1>
		<p>
			<a href="https://yourmailproject.typeform.com/to/krhWpQJZ" target="_blank">Join as an artist</a>
        </p>
        <p>
			<a href="https://www.instagram.com/yourmailproject" target="_blank">Instagram</a><br>
			<a href="https://in.pinterest.com/yourmailproject" target="_blank">Pinterest</a><br>
		</p>
        </div>
      	</header>
      	<section>
        <div class="grid-item">
        	{{ content }}
        </div>
      	</section>
      	<footer>
        <div class="grid-item">
        <p>
			<a href="https://kvshvlin.github.io/roadmap.html">Roadmap</a>
		</p>
		</div>
      </footer>
    </div>
  </body>
</html>
